
# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=binary
*.csproj merge=binary
*.vbproj merge=binary
*.fsproj merge=binary
*.dbproj merge=binary

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
