#list1 li
{
  binding-source: $
  binding-path: @:text;
}

#list2 li
{
  binding-source: [1,2,5,<null>,6];
  binding-path: @:text;
  binding-format: "lesson {0}";
  binding-source-default: <null>;
  binding-null-behavior: hidden;
}

