<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>

  </system.web>

  <system.webServer>

    <handlers>
      <add name="htmlFile" path="*.html" verb="*"/>
    </handlers>

    <modules>
      <add name="HtmlRewrite" type="Ivony.Html.Web.HtmlRewriteModule, Ivony.Html.Web"/>
      <add name="HtmlBinding" type="Ivony.Html.Binding.HtmlBindingModule, Ivony.Html.Web"/>
    </modules>
  </system.webServer>
  
</configuration>