<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <buildProviders>
        <add extension=".jumony" type="System.Web.Compilation.WebHandlerBuildProvider"/>
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add verb="*" path="*.html" type="System.Web.StaticFileHandler"/>
      <add path="*.jumony" verb="*" type="System.Web.UI.SimpleHandlerFactory" validate="True"/>
    </httpHandlers>
    <httpModules>
      <add name="HtmlRewrite" type="Ivony.Html.Web.HttpRewriteModule, Ivony.Html.Web"/>
      <add name="HtmlBinding" type="Ivony.Html.Binding.HtmlBindingModule, Ivony.Html.Web"/>
    </httpModules>
    <trace enabled="true" pageOutput="true" requestLimit="500" mostRecent="true" localOnly="false"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
