<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Node TODO</title>
  <link href="styles/reset.css" rel="stylesheet" type="text/css">
  <link href="styles/style.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div class="page">
    <div class="header box">
      <h1>
        <a href="index.html">Node TODO</a></h1>
    </div>
    <content></content>
    <div class="foot">
      Copyright© Node TODO <a href="http://Jumony.codeplex.com/">Jumony</a>
      <br />
      修改自 <a href="http://simple-is-better.com/news/309">simple-todo: 一个简易的 todo 程序 - web.py
        中文教程</a> from <a href="http://simple-is-better.com/">Python.cn(news, jobs)</a>
    </div>
  </div>
</body>
</html>
