<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title></title>
</head>
<body>

  <script>

    function show(type)
    {
      if (type == "Internet")
      {
        document.getElementById('url').style.display = 'inline';
        document.getElementById('url').value = "http://";
        document.getElementById('file').style.display = 'none';
      }
      else
      {
        document.getElementById('url').style.display = 'none';
        document.getElementById('url').value = "";
        document.getElementById('file').style.display = 'inline';
      }
    }

  </script>

  <form method="post" action="Enter" controller enctype="multipart/form-data">

  <div>
    <select id="type" name="type" onchange="show( this.value );">
      <option>Internet</option>
      <option>Local</option>
    </select>
    <input id="url" name="url" type="url" style="width: 300px;" value="http://" />
    <input id="file" name="file" type="file" style="width: 300px; display: none;" />
    <select name="encoding">
      <option>UTF-8</option>
      <option>GB2312</option>
    </select>
    <input type="submit" value="开始分析" />
  </div>
  </form>

  <script>

    show(document.getElementById("type").value);

  </script>

</body>
</html>
