<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Jumony Core Demo</title>
  <link rel="stylesheet" href="selected.css" />
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="domViewer.css" />
</head>
<body style="min-width: 1000px;">

  <div style="position: fixed; top: 0px; left: 0px; width: 100%; height: 45px; background-color: white;">
    <div style="margin: 10px 10px 0px 10px;">
      <div style="float: left;">
        <partial action="ChooseDocument" inherits="hash"></partial>
      </div>
      <div style="float: left; padding: 2px 20px;">
        <partial view="Share"></partial>
      </div>
      <div style="float: left; padding: 2px 20px;">
        <<- 您的支持，我的动力。
   
      </div>

      <div style="clear: both;"></div>
      <hr />
    </div>
  </div>
  <div style="height: 45px;"></div>
  <partial action="PageViewer"></partial>

</body>
</html>
