<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>分享工具</title>
</head>
<body>
  <!-- JiaThis Button BEGIN -->
  <div class="jiathis_style">
    <a href="http://www.jiathis.com/share?uid=1732311" class="jiathis jiathis_txt" target="_blank"><img src="http://v2.jiathis.com/code_mini/images/btn/v1/jiathis2.gif" border="0" /></a>
    <a class="jiathis_counter_style_margin:3px 0 0 2px"></a>
  </div>
  <script type="text/javascript">
    var jiathis_config = {
      data_track_clickback: true,
      url: "http://dom.jumony.net/",
      summary: "这个网站好神奇，真的可以分析任何HTML，还能测试CSS选择器效果。",
      title: "HTML分析演示 #Jumony#",
      hideMore: true
    }
  </script>
  <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1732311" charset="utf-8"></script>
  <!-- JiaThis Button END -->

</body>
</html>
