<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>分享工具</title>
</head>
<body>
  <!-- JiaThis Button BEGIN -->
  <div class="jiathis_style">
    <span class="jiathis_txt">分享到：</span>
    <a class="jiathis_button_tools_1"></a>
    <a class="jiathis_button_tools_2"></a>
    <a class="jiathis_button_tools_3"></a>
    <a class="jiathis_button_tools_4"></a>

    <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis"
      target="_blank">更多</a>
    <a class="jiathis_counter_style"></a>
  </div>
  <script type="text/javascript">
    var jiathis_config = {
      url: "http://dom.jumony.net/",
      summary: "这个网站好神奇，真的可以分析任何HTML哦。",
      title: "Jumony #Jumony#",
      hideMore: false
    }
  </script>
  <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
  <!-- JiaThis Button END -->

</body>
</html>
