<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>分享工具</title>
</head>
<body>
  <!-- JiaThis Button BEGIN -->
  <div class="jiathis_style">
    <span class="jiathis_txt">分享到：</span>
    <a class="jiathis_button_tools_1"></a>
    <a class="jiathis_button_tools_2"></a>
    <a class="jiathis_button_tools_3"></a>
    <a class="jiathis_button_tools_4"></a>

    <a href="http://www.jiathis.com/share?uid=1732311" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank">更多</a>
  </div>
  <script type="text/javascript">
    var jiathis_config = {
      data_track_clickback: true,
      url: "http://dom.jumony.com/",
      summary: "这个网站好神奇，真的可以分析任何HTML，还能测试CSS选择器效果。 http://t.cn/zjRZWiK  ",
      title: "HTML分析演示 #Jumony#",
      hideMore: false
    }
  </script>
  <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1732311" charset="utf-8"></script>
  <!-- JiaThis Button END -->

</body>
</html>
