body { font-family: 'Microsoft YaHei', SimHei, sans-serif; margin: 20px 50px; font-size: 14px; max-width: 1200px; }

nav { float: left; width: 250px; margin: 0px 10px; }

  nav div { margin: 10px; }

  nav .child { margin-left: 50px; }
  nav .current { margin-left: 30px; }


body > section { margin-left: 250px; width: auto; }

section { margin: 35px 0px 35px 10px; }

  section.demo { margin: 10px 0px 25px 20px; background-color: #EEEEEE; }

p { margin: 10px 0px; }

h3 { margin: 50px 0px 20px 0px; }

  h3 ~ p, h4 ~ p, h5 ~ p, h6 ~ p { margin-left: 20px; }
code { font-family: Consolas, 'Courier New'; }

  code .keyword { color: blue; }

  code .typeName { color: #2b91af; }

h5 { margin: 10px 0px 5px 0px; }

pre { margin: 0px; }

  pre.code { padding: 5px 15px; background-color: #EEEEEE; font-family: Consolas; font-size: 10pt; color: black; }

    pre.code .keyword { color: #0000FF; }

    pre.code .string, pre.code [class="String(C# @ Verbatim)"] { color: #A31515; }

    pre.code [class="User Types"] { color: #2996B5; }

  pre.console { color: white; background-color: black; font-family: Consolas, "Courier New", Courier, monospace; font-size: 14px; padding: 5px; }
